VITE_FRONTEND_URL=http://localhost:5173
VITE_BACKEND_URL=http://localhost:8787
VITE_TURNSTILE_SITE_KEY=ADD_YOUR_KEY_FROM_CLOUDFLARE
VITE_CLOUDINARY_UPLOAD_PRESET=UPLOAD_PRESET
VITE_CLOUDINARY_CLOUD_NAME=ClOUD_NAME
VITE_DEFAULT_UPI_ID=UPI_ID
VITE_DEFAULT_PAYMENT_AMOUNT=AMOUNT